.formInput{
border: 2px solid black;
margin-top: 90px;
margin-left: 390px;
margin-right: 50px;
width:600px;
height: 400px;
box-shadow: 2px 2px 4px black;
text-align: center;
background-color: beige;
}
.form-control{
width:55%;
margin-left: 140px;
}
.formInput h1{
    margin-top: 10px;
}
.footer{
    width:100%;
    background-color: black;
    height: 70px;
    text-align: center;
    color: aliceblue;
    position: absolute;
    top:2700px;
    bottom: 0px;
}
.DisplayList{
    margin-left: 15px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
}

.Link{
    text-decoration: none;
    color: aliceblue;
    padding: 8px;
}
.button{
    background-color: blue!important;
    border: none;
    font-weight: bolder;
}
.button:hover{
    background-color: lightskyblue !important;
}
.danger{
    background-color: red !important;
    border: none;
}
.danger:hover{
    background-color: tomato !important;
}
.SymbolBtn{
    background-color: red !important;
    border: none;
}
.SymbolBtn:hover{
background-color: tomato !important;
}
.tableData{

    display: grid !important;
    margin-top: 20px;
    grid-template-columns: auto  auto auto auto auto auto auto !important;
   align-items: center !important;
}